.\#*
\#*
*.elc
prelude-core*
backups
.smex-items
elpa
places
auto-save-list
tramp
bookmarks
projectile-bookmarks.eld
projectile.cache
.mc-lists.el
url
/smex-items
/.litable-lists.el
/image-dired
/history
/.emacs.desktop
/.emacs.desktop.lock
/.persistent-scratch
/ensime
/tldr/
/anaconda-mode/
